# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
src/main/resources/assets/powertool/textures/item/holographics.psd
src/main/resources/assets/powertool/textures/gui/item_supplier.psd
src/main/resources/assets/powertool/textures/block/command_block_activator.psd
src/main/resources/assets/powertool/textures/gui/trash_can.psd
src/main/resources/assets/powertool/textures/item/command_shard.psd
